
.tile {
    display: inline-block;
    float: left;
    text-align:center;
    height: 18px;
    width: 18px;
    line-height: 20px;
    border: 1px solid black;
    background-color: #777;
    color: black;
    cursor: default;
}

.tile__show {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #999;
}

.tile__flagged {
  color: red;
}
