header h1 {
  text-align: center;
  margin: 0;
}

header {
  padding: 40px 0;
  background-color: #333;
  color: snow;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 25px;
}


.tile {
    display: inline-block;
    float: left;
    text-align:center;
    height: 18px;
    width: 18px;
    line-height: 20px;
    border: 1px solid black;
    background-color: #777;
    color: black;
    cursor: default;
}

.tile:hover {
  background-color: #39CC3E;
}

.tile__show {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #999;
}

.tile__flagged {
  color: red;
}

.game-over {
  text-align: center;
  color: #D42222;
}

.bomb-background {
  background-color: #D42222;
}

.invisible {
  visibility: hidden;
}
